.forgot-password-new {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .forgot-password-new .div {
    background-color: #ffffff;
    width: 927px;
    height: 737px;
    position: relative;
  }
  
  .forgot-password-new .SF-POSITIVO-TRANSP {
    position: absolute;
    width: 68px;
    height: 68px;
    top: 65px;
    left: 112px;
    object-fit: cover;
  }
  
  .forgot-password-new .text-wrapper {
    position: absolute;
    width: 679px;
    top: 141px;
    left: 112px;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .forgot-password-new .p {
    position: absolute;
    width: 703px;
    top: 233px;
    left: 112px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .forgot-password-new .text-wrapper-2 {
    position: absolute;
    width: 310px;
    top: 310px;
    left: 112px;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #2183e8;
    font-size: 35px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .forgot-password-new .remember-the {
    position: absolute;
    width: 367px;
    top: 373px;
    left: 112px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #6f7077;
    font-size: 16px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .forgot-password-new .span {
    font-weight: 600;
  }
  
  .forgot-password-new .text-wrapper-3 {
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #6f7077;
    font-size: 16px;
    letter-spacing: 0;
  }
  
  .forgot-password-new .text-wrapper-4 {
    position: absolute;
    width: 703px;
    top: 432px;
    left: 112px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .forgot-password-new .text-wrapper-5 {
    position: absolute;
    width: 437px;
    top: 592px;
    left: 112px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #918d8d;
    font-size: 12px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  