.code-welcome {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .code-welcome .div {
    background-color: #ffffff;
    width: 927px;
    height: 1181px;
    position: relative;
  }
  
  .code-welcome .overlap {
    position: absolute;
    width: 654px;
    height: 265px;
    top: 27px;
    left: 145px;
  }
  
  .code-welcome .overlap-group {
    position: absolute;
    width: 654px;
    height: 265px;
    top: 0;
    left: 0;
  }
  
  .code-welcome .SF-POSITIVO-TRANSP {
    position: absolute;
    width: 193px;
    height: 193px;
    top: 0;
    left: 442px;
    object-fit: cover;
  }
  
  .code-welcome .this-is-the-one-sent {
    position: absolute;
    width: 654px;
    top: 192px;
    left: 0;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .code-welcome .text-wrapper {
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
  }
  
  .code-welcome .span {
    font-weight: 700;
  }
  
  .code-welcome .your-verification {
    position: absolute;
    width: 389px;
    top: 46px;
    left: 0;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #2183e8;
    font-size: 35px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .code-welcome .overlap-2 {
    position: absolute;
    width: 695px;
    height: 629px;
    top: 405px;
    left: 134px;
  }
  
  .code-welcome .if-you-didn-t {
    position: absolute;
    width: 654px;
    top: 0;
    left: 11px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .code-welcome .group {
    position: absolute;
    width: 695px;
    height: 426px;
    top: 203px;
    left: 0;
  }
  
  .code-welcome .p {
    position: absolute;
    width: 296px;
    top: 317px;
    left: 145px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #6f7077;
    font-size: 16px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .code-welcome .text-wrapper-2 {
    position: absolute;
    width: 310px;
    top: 317px;
    left: 490px;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #2183e8;
    font-size: 35px;
    letter-spacing: 0;
    line-height: normal;
  }
