.welcome {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .welcome .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 927px;
    height: 1377px;
    position: relative;
  }
  
  .welcome .overlap {
    position: absolute;
    width: 1058px;
    height: 282px;
    top: 52px;
    left: -212px;
  }
  
  .welcome .text-wrapper {
    position: absolute;
    width: 419px;
    top: 67px;
    left: 254px;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #000066;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome .overlap-group {
    position: absolute;
    width: 1058px;
    height: 282px;
    top: 0;
    left: 0;
  }
  
  .welcome .SF-POSITIVO-TRANSP {
    position: absolute;
    width: 282px;
    height: 282px;
    top: 0;
    left: 776px;
    object-fit: cover;
  }
  
  .welcome .text-wrapper-2 {
    position: absolute;
    width: 927px;
    top: 199px;
    left: 0;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #000066;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome .p {
    position: absolute;
    width: 827px;
    top: 383px;
    left: 50px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000066;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome .vector {
    position: absolute;
    width: 242px;
    height: 3px;
    top: 549px;
    left: 338px;
  }
  
  .welcome .we-re-thrilled-to {
    position: absolute;
    width: 827px;
    top: 621px;
    left: 50px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000066;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome .planet {
    position: absolute;
    width: 101px;
    height: 101px;
    top: 801px;
    left: 133px;
  }
  
  .welcome .overlap-group-2 {
    position: absolute;
    width: 257px;
    height: 231px;
    top: 765px;
    left: 338px;
  }
  
  .welcome .group {
    position: absolute;
    width: 229px;
    height: 174px;
    top: 0;
    left: 14px;
  }
  
  .welcome .element-crypto {
    position: absolute;
    width: 257px;
    top: 161px;
    left: 0;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000066;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome .span {
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000066;
    font-size: 36px;
    letter-spacing: 0;
  }
  
  .welcome .text-wrapper-3 {
    font-size: 24px;
  }
  
  .welcome .img {
    position: absolute;
    width: 212px;
    height: 108px;
    top: 794px;
    left: 615px;
  }
  
  .welcome .global-stocks {
    position: absolute;
    width: 257px;
    top: 926px;
    left: 55px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000066;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome .element-etfs {
    position: absolute;
    width: 257px;
    top: 932px;
    left: 615px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000066;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome .text-wrapper-4 {
    position: absolute;
    width: 348px;
    top: 1068px;
    left: 47px;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #000066;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome .text-wrapper-5 {
    position: absolute;
    width: 348px;
    top: 1141px;
    left: 56px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000066;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome .element {
    position: absolute;
    width: 356px;
    height: 333px;
    top: 1018px;
    left: 460px;
    object-fit: cover;
  }
  