.welcome-new {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .welcome-new .div {
    background-color: #ffffff;
    width: 927px;
    height: 1377px;
    position: relative;
  }
  
  .welcome-new .overlap-group {
    position: absolute;
    width: 927px;
    height: 223px;
    top: 0;
    left: 0;
    background-color: #000066;
  }
  
  .welcome-new .text-wrapper {
    position: absolute;
    width: 919px;
    top: 65px;
    left: 8px;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome-new .text-wrapper-2 {
    position: absolute;
    width: 927px;
    top: 135px;
    left: 0;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome-new .p {
    position: absolute;
    width: 827px;
    top: 259px;
    left: 50px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000066;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome-new .we-re-thrilled-to {
    position: absolute;
    width: 827px;
    top: 311px;
    left: 50px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000066;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome-new .overlap {
    position: absolute;
    width: 307px;
    height: 71px;
    top: 404px;
    left: 50px;
  }
  
  .welcome-new .text-wrapper-3 {
    position: absolute;
    width: 237px;
    top: 13px;
    left: 70px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000066;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome-new .noto-world-map {
    position: absolute;
    width: 71px;
    height: 71px;
    top: 0;
    left: 0;
  }
  
  .welcome-new .text-wrapper-4 {
    position: absolute;
    width: 257px;
    top: 527px;
    left: 118px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000066;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome-new .twemoji-coin {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 521px;
    left: 52px;
  }
  
  .welcome-new .overlap-2 {
    position: absolute;
    width: 317px;
    height: 65px;
    top: 641px;
    left: 60px;
  }
  
  .welcome-new .text-wrapper-5 {
    position: absolute;
    width: 257px;
    top: 27px;
    left: 60px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000066;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome-new .vector {
    position: absolute;
    width: 63px;
    height: 65px;
    top: 0;
    left: 0;
  }
  
  .welcome-new .text-wrapper-6 {
    position: absolute;
    width: 348px;
    top: 766px;
    left: 50px;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #000066;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome-new .overlap-3 {
    position: absolute;
    width: 803px;
    height: 181px;
    top: 810px;
    left: 52px;
  }
  
  .welcome-new .text-wrapper-7 {
    position: absolute;
    width: 803px;
    top: 0;
    left: 0;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000066;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .welcome-new .SF-POSITIVO-SVG {
    position: absolute;
    width: 71px;
    height: 73px;
    top: 108px;
    left: 0;
  }
  
  .welcome-new .text-wrapper-8 {
    position: absolute;
    width: 437px;
    top: 997px;
    left: 62px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #918d8d;
    font-size: 12px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  